/* Full html */

html {
    position: relative;
    min-height: 100%;
}


/* Navbar section*/

.navbar {
    background-color: #a2ccf5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /* position: center; */
}


/* Navbar brand section*/

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
    background-color: rgb(200, 216, 246);
    border-radius: 15px;
    padding: 0.5rem 1rem;
    
}


/* Navbar links section*/

.navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
    padding: 1.5rem 2rem;
    
}


/* Dropdown section*/

.dropdown-menu {
    background-color: #bad9f7;
    border: none;
    padding: 0.5rem 0;
}

.dropdown-item {
    color: white;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #7db7f1;
}


/* Search input section */

.form-control {
    background-color: #7db7f1;
    border: none;
    color: white;
}

.form-control:focus {
    background-color: #7db7f1;
    border: none;
    box-shadow: none;
    color: white;
}

.row {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.grid-item {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.visualization-list {
    border-radius: 10px;
}


/* Head */

.head {
    text-align: center;
    margin-top: 40px;
}


/* Body */

body {
    margin-bottom: 60px;
    background-color: rgb(152, 206, 248);
}

.sidebar {
    margin-top: 50px;
    margin-left: 10px;
}


/* Header section*/

header {
    margin-top: 100px;
    text-align: center;
}


/* Image section*/

img {
    max-width: 50%;
    height: auto;
  }


/* Table row, table data section*/

tr td {
    padding: 0 !important;
    margin: 0 !important;
}


/* Footer section*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(172, 205, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.project-overview {
    padding: 10px;
    margin: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 15px; */
    /* background-color: #f8f9fa; */
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: justify;
}

/* Data content */

.data-content {
    margin-top: 100px;
    
}


/* Overviews section*/

.plot-overview {
    padding: 10px;
    margin: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #f8f9fa;
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: justify;
}



/* Wrapper */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Image section */

.image_box1 img {
    max-width: 100%;
    height: auto;
}


/* Scaling */

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
}